body {
  margin: 0;
  background: #f5f5f5;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page img {
  width: 794px;   /* مقاس A4 */
  height: 1123px;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  transition: opacity 1s ease; /* هذا لإضافة تأثير fade */
  opacity: 1;
}

.page {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.page.hidden {
  opacity: 0;
  pointer-events: none; /* تمنع التفاعل مع الصفحة المخفية */
}
