body {
  margin: 0;
  background: #f5f5f5;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page img {
  width: 794px;   /* مقاس A4 */
  height: 1123px;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.page {
  display: none;
  position: relative;
}

.page.active {
  display: block;
}
