body {
  margin: 0;
  background: #f5f5f5;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* مقاس A4 */
.page img {
  width: 794px;
  height: 1123px;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.page {
  display: none;
  position: relative;
}

.page.active {
  display: block;
}

/* اسم المدعو */
.name {
  position: absolute;
  top: 120px;   /* عدلي حسب تصميمك */
  width: 100%;
  text-align: center;
  font-size: 36px;
  color: #000;
  font-weight: bold;
}
